
body {
    background: rgba(0,0,0,1);
    flex-grow: 1;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:link, a:visited {
    color: rgba(155,155,155,0.5);
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    color: rgba(155,155,155,0.8);
}

h1, h2, h3 {
    color: #fff;
}
header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    padding: 0.5em;
    opacity: 1;
    transition: background-color 1s, opacity 1s, color 1s;
    background: rgba(0,0,0,0.5);
}
header h1,h2,h3 {
    display: inline;
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: rgba(255,255,255,0.2);
}
header .buttons {
    font-size: 0.6em;
}
header button {
    background: rgba(180,180,180,0.3);
    transition: background-color 0.5s, color 0.5s;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}
header button:hover {
    background: rgba(180,180,180,0.8);
}
header button.active {
    background: rgba(180,180,180,0.5);
}

.controls div.button {
    position: absolute;
    z-index: 105;
    top: 50%;
    width: 4em;
    height: 4em;
    cursor: pointer;
    background: rgba(0,0,0,1);
    border-radius: 50%;
    opacity: 0.5;
}
.controls div.button.left {
    top: 50%;
    left: 2em;
}
.controls div.button.right {
    top: 50%;
    right: 2em;
}
.controls div.left div.icon {
    transform: rotate(90deg);
}
.controls div.right div.icon {
    transform: rotate(270deg);
}
.controls div.more.icon {
    padding: 0;
    padding: 0;
    margin: 20px 10px;
    width: 44px;
    height: 24px;

}

.controls div.icon.more::before {
    display: inline-block;
    width: 44px;
    height: 24px;
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4 L22 20 L40 4' stroke='white' stroke-width='6' fill='none' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}
.controls div.button:hover {
    opacity: 1;
}

@media(max-height: 500px) {
    header {
        visibility: hidden;
        display: none !important;
    } 

}
