html {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body {
    flex-grow: 1;
    background: rgba(0,0,0,1);
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body.noCursor {
    cursor: none;
}

canvas {
    border: none;
}
.highlight {
    color: #faf;
    font-weight: 400;
}
#gallery {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
}
#gallery svg {
    display: inline-block;
}
#gallery svg .imageGroup image {
    width: 100%;
    height: 100%;
}
#gallery .canvasContainer {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.canvasContainer .infoBox.hide, .hide {
    opacity: 0;
}
.canvasContainer .infoBox {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 200;
    opacity: 1;
    transition: background-color 1s, opacity 1s;
    color: rgba(155,155,155,0.5);
}
#gallery .infoBox > .imageInfo, #gallery .infoBox .noInfo {
    padding: 1em;
    border-radius: 0.25em;
    background: rgba(0,0,0,0.5);
    position: relative;
}
#gallery .infoBox ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    max-width: 25em;
}
#gallery .infoBox ul > li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#gallery .infoBox h1,h2,h3 {
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.8);
}
#gallery .infoBox div.label {
    width: 3em;
    text-align: right;
    vertical-align: center;
    padding-right: 0.5em;
}
#gallery .infoBox div.value {
    width: auto;
}
#gallery .infoBox > .info > .label {
    display: none;
}
#gallery .infoBox .label > span {
    border-radius: 0.2em;
    font-size: 0.6em;
    padding: 0.1em 0.25em;
    background: rgba(0,0,0,0.8);
}

