html {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body {
    flex-grow: 1;
    background: rgba(0,0,0,1);
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    border: none;
}
.highlight {
    color: #faf;
    font-weight: 400;
}
#gallery {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
#gallery svg {
    pointer-events: none;
    display: inline-block;
}
#gallery svg .imageGroup {
    pointer-events: none;
}
#gallery svg .imageGroup image {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
#gallery .canvasContainer {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.canvasContainer .infoBox.hide, .hide {
    opacity: 0;
}
.canvasContainer .infoBox {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 200;
    opacity: 1;
    max-height: 60%;
    overflow-y: auto;

    transition: background-color 1s, opacity 1s;
    color: rgba(155,155,155,0.8);
}
#gallery .infoBox > .imageInfo, #gallery .infoBox .noInfo {
    padding: 1em;
    display: inline-block;
    border-radius: 0.25em;
    background: rgba(0,0,0,0.6);
    user-select: none;
    cursor: pointer;
    position: relative;
}
#gallery .infoBox tags-ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    max-width: 25em;
}
#gallery .infoBox tags-ul > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#gallery .infoBox h1,h2,h3, .imageInfo .title div.value span {
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.8);
}
.infoBox .imageInfo .title div.value span {
    font-size: 1.2em;
    font-weight: bolder;
}
.infoBox.minified .imageInfo :not(.title) > div, .infoBox.minified div.label {
    display: none;
}

#gallery .infoBox div.label {
    width: 3em;
    text-align: right;
    vertical-align: center;
    padding-right: 0.5em;
}
#gallery .infoBox div.value {
    max-width: 21em;
}
#gallery .infoBox li.tags div.value span:after {
    content: "\a";
} 

#gallery .infoBox li.tags div.value span {
    color: rgba(75,75,75,0.8);
    display: inline-block;
    background-color: rgba(25,25,25,0.8);
    font-size: 0.8em;
    border-radius: 0.2em;
    padding: 0 0.6em 0.1em 0.6em;
    margin: 0.1em 0.1em;
}
#gallery .infoBox > .info > .label {
    display: none;
}
#gallery .infoBox .label > span {
    border-radius: 0.2em;
    font-size: 0.6em;
    padding: 0.1em 0.25em;
    background: rgba(0,0,0,0.8);
}

@media (hover: hover) {
    #gallery:hover {
        background: rgba(255,255,255,0.1);
    }    
}
