.debugContainer {
    position: absolute;
    left: 0;
    min-height: 4em;
    max-height: 20%;
    overflow-y: auto;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0,0,255,0.85);
    color: rgba(200,200,255,0.8);
    font-size: 0.8em;
}
.debugContainer span.payload {
    opacity: 0.5;
}
