#gallery {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
#gallery svg {
    pointer-events: none;
    display: inline-block;
}
#gallery svg .imageGroup {
    pointer-events: none;
}
#gallery svg .imageGroup image {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
#gallery .canvasContainer {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

@media (hover: hover) {
    #gallery:hover {
        background: rgba(255,255,255,0.1);
    }    
}
