.infoBox.hide, .hide {
    opacity: 0;
}
.infoBox {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 200;
    opacity: 1;
    max-height: 60%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    transition: background-color 1s, opacity 1s;
    color: rgba(155,155,155,0.8);
    
}
.infoBox > .imageInfo, .infoBox .noInfo {
    padding: 1em;
    display: inline-block;
    border-radius: 0.25em;
    background: rgba(0,0,0,0.6);
    user-select: none;
    cursor: pointer;
    position: relative;
}
.infoBox ul-tags.imageInfo {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 1em;
    width: 33.7em;
}
.infoBox ul-tags > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.infoBox .imageInfo li:not(.tags,.exif,.gear,.title) div.value {
    text-align: justify;
    padding: 0 1.5em 0 0.5em;
}
.infoBox:not(.minified) .imageInfo .title div.value {
    margin-left: 0.5em;
}
.infoBox:not(.minified) .imageInfo li.title {
    margin-bottom: 0.5em;

}
.infoBox .imageInfo li {
    margin: 0 0 0.25em 0;
}
.infoBox h1,h2,h3, .imageInfo .title div.value span {
    color: rgba(255,255,255,0.8);
}
.infoBox .imageInfo .title div.value span {
    font-size: 1.2em;
    font-weight: bolder;
}
/* MINIFIED infoBox */
.infoBox.minified .imageInfo :not(.title) > div, .infoBox.minified div.label {
    display: none;
}
.infoBox.minified .imageInfo li {
    margin: 0;
}
.infoBox.minified .imageInfo li.title > div {
    text-align: center;
    width: 100%;
}


.infoBox div.label {
    min-width: 3em;
    max-width: 3em;
    text-align: right;
    vertical-align: center;
    padding-right: 0.5em;
}

.infoBox li.tags div.value span:after {
    content: "\a";
} 

.infoBox .imageInfo li.tags div.value {
    padding-left: 0.3em;

}
.infoBox li.tags div.value span {
    color: rgba(255,255,255,0.4);
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    font-size: 0.6em;
    border-radius: 0.2em;
    padding: 0 0.6em 0.1em 0.6em;
    margin: 0.1em 0.1em;
}
.infoBox > .info > .label {
    display: none;
}
.infoBox .label > span {
    border-radius: 0.2em;
    font-size: 0.6em;
    padding: 0.1em 0.25em;
    background: rgba(0,0,0,0.8);
}

.infoBox ul-tags.imageExif > li div.label {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
}
.infoBox ul-tags.imageExif > li div.value {
    text-align: left;
}
.infoBox ul-tags.imageExif > li div.value, .infoBox ul-tags.imageExif > li div.label {
    margin-top: auto;
    margin-bottom: auto;
}
.infoBox ul-tags.imageExif {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;    
}
.infoBox ul-tags.imageExif > li div.label span {
    visibility: hidden;
}
.infoBox ul-tags.imageExif > li.aperture div.label {
    background-image:url('../icons/icon_aperture.svg');
}
.infoBox ul-tags.imageExif > li.camera div.label {
    background-image:url('../icons/icon_camera.svg');
}
.infoBox ul-tags.imageExif > li.exposure div.label {
    background-image:url('../icons/icon_exposure.svg');
}
.infoBox ul-tags.imageExif > li.flash div.label {
    background-image:url('../icons/icon_flash.svg');
}
.infoBox ul-tags.imageExif > li.focus div.label {
    background-image:url('../icons/icon_focus.svg');
}
.infoBox ul-tags.imageExif > li.iso div.label {
    background-image:url('../icons/icon_iso.svg');
}
.infoBox ul-tags.imageExif > li.noflash div.label {
    background-image:url('../icons/icon_noflash.svg');
}
.infoBox ul-tags.imageExif > li.lens div.label {
    background-image:url('../icons/icon_lens.svg');
}

@media (max-width: 600px) {
    .infoBox ul-tags {
        min-width: 100%;   
        max-width: 100%;
    }
    .infoBox ul-tags.imageExif {
        flex-wrap: wrap;
        font-size: 0.6em;    
    }
    .infoBox ul-tags.imageExif > li div.label {
        width: 2em;
        height: 2em;
    }
    .infoBox li.tags div.value span {
        font-size: 0.6em;
    }
    .infoBox .imageInfo .description div.value {
        text-align: justify;
        padding-right: 0.5em;
    }
    
}
@media (max-height: 650px) {
    .canvasContainer .infoBox {
        max-height: 30%;
        bottom: 0;
    }
    .infoBox.minified .imageInfo li {
        margin: 0 !important;
    }
    
}

@media (max-height: 500px) {
    .infoBox .imageInfo :not(.title) > div, .infoBox div.label {
        display: none;
    }

    .infoBox > .imageInfo {
        min-width: auto;   
        max-width: auto;

    }    
    .infoBox {
        max-height: 15%;
        height: auto;
    }
    .infoBox .imageInfo {
        padding: 0.5em 0.5em !important;
    }
    .infoBox .imageInfo li {
        margin-bottom: 0 !important;
        margin: 0 !important;
    }
    .infoBox {
        width: auto;
    }
    .infoBox ul-tags.imageInfo {
        width: auto;
    }
    .infoBox .imageInfo li div.value {
        margin-left: 0 !important;
        padding: 0 !important;
    }
    
    .infoBox .imageInfo li.title > div {
        white-space: nowrap;
        text-align: center;
        width: auto;
        margin: 0;
    }
    .infoBox .imageInfo li.title > div.value span {
        font-size: 1em;
    }
}