menu-sandwich {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 12em;
}
menu-sandwich ul {
    position: absolute;
    top: 0;
    left: 3em;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    list-style-type: none;
    list-style-position: inside;
}
menu-sandwich ul > li {
    padding: 0.5em;
}
menu-sandwich > button.sandwich {
    cursor: pointer;
    background-image: url('../icons/icon_sandwich.svg');
    background-color: rgba(0,0,0,0);
    margin: 0.5em 0.5em;
    width: 1.5em;
    height: 1.5em;
    border: 0;
}


@media (hover: hover) {
    menu-sandwich .sandwich:hover {
        background: rgba(0,0,0,0);
        background-image:url('../icons/icon_sandwich2.svg');
    }
}