menu-sandwich {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;

}
menu-sandwich > div.menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
menu-sandwich > div.menu h3 {
    margin: 0.5em 0.5em 0.5em 2.3em;
    display: inline-block;
}
menu-sandwich > div.menu ul.menu {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
    margin: 0.5em;
}
menu-sandwich ul > li {
    padding: 0.5em;
}
menu-sandwich > button.sandwich {
    z-index: 1001;
    position: absolute;
    cursor: pointer;
    background-image: url('../icons/icon_sandwich.svg');
    background-color: rgba(0,0,0,0);
    margin: 0.5em 0.5em;
    width: 1.5em;
    transition: opacity 0.5s;
    height: 1.5em;
    border: 0;
    opacity: 0.5;
}
menu-sandwich > button.sandwich.active {
    background-image:url('../icons/icon_sandwich2.svg');
}
menu-sandwich > div.content {
    min-width: 100%;
    overflow-y: auto;
    flex: 1;
}
menu-sandwich > div.content body {
    height: 100%;
    margin: 0;
    padding: 0 0.5em 0.5em 2em;
    background-color: rgba(0,0,0,0.8);
}
menu-sandwich > div.content body h3 {
    margin: 0;
    display: inline-block;
    padding: 0.5em 0;
}

@media (hover: hover) {
    menu-sandwich .sandwich:hover {
        opacity: 1;
    }
}