menu-sandwich {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;

}
menu-sandwich > div.menu {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 2em 0 0;
    min-width: 15em;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
menu-sandwich > div.menu h3 {
    margin: 0.5em 0.5em 0.5em 2.3em;
    display: inline-block;
}
menu-sandwich > div.menu ul.menu {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
    margin: 0.5em;
}
menu-sandwich ul > li {
    padding: 0.5em;
    opacity: 0.6;
    transition: opacity 1s;
}
menu-sandwich ul > li.active {
    font-weight: bolder;
    opacity: 1;
}
menu-sandwich > button.sandwich {
    z-index: 1001;
    position: absolute;
    cursor: pointer;
    background-image: url('../icons/icon_sandwich.svg');
    background-color: rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5em 0.5em;
    width: 1.5em;
    transition: opacity 0.5s;
    height: 1.5em;
    border: 0;
    opacity: 0.5;
}
menu-sandwich > button.sandwich.active {
    background-image:url('../icons/icon_sandwich2.svg');
}
menu-sandwich > div.fill {
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    flex-grow: 100;
    height: 100%;
}
menu-sandwich > div.content.hide {
    overflow: hidden;
}
menu-sandwich > div.content {
    overflow-y: auto;
    position: relative;
    max-width: 40em;
    width: 100%;
    color: rgba(255,255,255,0.8);
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
}
menu-sandwich > div.content body {
    background: transparent;
    color: rgba(255,255,255,0.8);
    margin: 0;
    padding: 0 2em 0 4em;
}
menu-sandwich > div.content body h3 {
    margin: 0;
    color: rgba(255,255,255,1);
    display: block;
    width: 100%;
    padding: 0.5em 0;
}
menu-sandwich > div.content body form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 40em;
    justify-content: space-between;
}
menu-sandwich > div.content body form label {
    width: 37%;
    display: inline-block;
    padding: 0.5em 0;
}
menu-sandwich > div.content body form input, menu-sandwich > div.content body form select {
    padding: 0.5em 0;
    width: 57%;
    display: inline-block;
    text-align: left;
    margin-bottom: 0.5em;
}
menu-sandwich > div.content body form select {
    margin-bottom: 1em;
}


@media (hover: hover) {
    menu-sandwich .sandwich:hover {
        opacity: 1;
    }
}

@media (max-width: 750px) {
    menu-sandwich > div.menu {
        padding: 0 0.5em 0 0;
        min-width: 10em;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
    }
}

@media (max-width: 500px) {
    menu-sandwich > div.menu h3 {
        padding: 0.3em 0 0 0.2em;
        font-size: 0.8em;
    }
    menu-sandwich > div.menu {
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.8);
    }
    menu-sandwich ul.menu > li {
        font-size: 0.8em;
    }
    menu-sandwich {
        flex-wrap: inherit;
        flex-direction: inherit;
    }
    menu-sandwich > div.content {
        flex-grow: 0;
        width: auto;
        overflow-y: auto;
    }
    menu-sandwich > div.content body {
        padding: 0 2em 0 0.5em;
    }
}