div-search {
    position: absolute;
    display: flex;
    pointer-events: none;
    flex-direction: row;
    justify-content:space-between;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    width: 45em;
    height: 2.75em;
    border-radius: 0 0 0.25em 0.25em;
    z-index: 205;
    color: rgba(255,255,255,0.6);
    font-size: 0.8em;
}
div-search.focus {
    background-color: rgba(0,0,0,0.75);
}
div-search.focus .idleHide {
    opacity: 1 !important;
}
div-search .highlight {
    color: rgb(255,255,255,1);
}
div-search > div {
    padding: 0.5em;
}
div-search .icon {
    background-image:url('../icons/icon_search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: visibleFill;
    background-size: 1.25em;
    width: 1.5em;
    padding: 0.25 0.5em;
    transition: 0.5s;
}
div-search .searchResults {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    width: 15em;
}
div-search input {
    pointer-events: visibleFill;
    background: rgba(0,0,0,0.2);
    transition: 0.5s;
    color: rgb(255,255,255,0.75);
    width: 100%;
    font-weight: bolder;
    font-size: 1em;
    flex: 1;
    border: 0px;
    background: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255,255,255,0.3);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255,255,255,0.3);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255,255,255,0.3);
  }

div-search input:focus {
    outline: none;
}
div-search:hover input {
}
div-search:hover .icon {
}